.head{
    height: 90px;
    border: 1px solid;
    border-radius: 10px;
    padding-top: 20px;
}

.head-dropdown{
    margin-right: 20px;
}

.head-dropdown, .search-form{
    margin-top: 5px;
}


#search{
    border-radius: 15px;
    padding-right: 18px;
    width: 300px
}


.search-span{
    margin-left: -30px;
    background: transparent;
    border: none;
}

.brand_container{
    margin-right:  20px;
    font-size: 30px;
}

.tab-title li{
    float: left;
    list-style: none;
    margin-right:  20px;
    font-size: 25px;
}